.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.App .weatherAppWrapper {
  max-width: 700px;
  margin: 30px auto;
}

.App .weatherAppDay {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  background: radial-gradient(
    800px at 10.8% 16.6%,
    rgb(254, 253, 112, 0.5) 1.7%,
    rgb(0, 0, 0, 0) 91.8%
  );
}

.App .weatherAppNight {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: radial-gradient(
    800px at 10.8% 16.6%,
    rgba(18, 67, 107, 0.5) 1.7%,
    rgb(0, 0, 0, 0) 91.8%
  );
}

.App .footnote {
  margin: 20px auto;
  text-align: center;
  font-size: 1.5rem;
}

.App .openSourceLink {
  text-decoration: none;
  color: rgb(17, 113, 168);
}

@media (max-width: 768px) {
  .App .weatherAppWrapper {
    width: 100%;
    margin: 0;
  }
}
