.Forecast {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  font-weight: 400;
  margin-bottom: 60px;
  font-size: 1.6rem;
  padding: 0 40px;
}

@media (max-width: 576px) {
  .Forecast {
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
  }
}
