.Weather .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px 40px 50px auto;
  justify-content: flex-end;
  align-items: center;
}

.Weather .search-bar {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: background 0.25s;
}

.Weather .search-input {
  font-size: 1.5rem;
  color: black;
  margin-left: 8px;
  outline: none;
  border: none;
  background-color: transparent;
}

.Weather .search-icon {
  color: black;
  outline: none;
  border: none;
  background-color: transparent;
}

.Weather .search-input::placeholder,
.Weather .search-icon {
  color: rgba(0, 0, 0, 0.8);
}

.LoadingData {
  font-size: 1.6rem;
  margin-top: 50px;
}

@media (max-width: 576px) {
  .Weather .flex {
    margin: 20px auto 60px;
    justify-content: center;
    align-items: center;
  }
}
