.Weather .Flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px 40px 70px auto;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.Weather #CurrentLocationButton {
  display: inline-block;
  cursor: pointer;
  background-color: white;
  border-radius: 20px;
  padding: 6px 10px;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #cbd5e0;
  line-height: 16px;
  transition: all 100ms ease-in-out;
}

.Weather #CurrentLocationButton:hover {
  background-color: #f0eeee;
}

.Weather .search-bar {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: background 0.25s;
}

.Weather .search-input {
  font-size: 15px;
  color: black;
  margin-left: 8px;
  outline: none;
  border: none;
  background-color: transparent;
}

.Weather .search-icon {
  color: black;
  outline: none;
  border: none;
  background-color: transparent;
}

.Weather .search-input::placeholder,
.Weather .search-icon {
  color: rgba(0, 0, 0, 0.8);
}

.LoadingData {
  margin-top: 50px;
}

@media (max-width: 576px) {
  .Weather .Flex {
    margin: 20px auto 40px;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}
