.WeatherTemperature h1 {
  text-align: center;
  font-size: 4.5rem;
  font-weight: bold;
}

.WeatherTemperature .unit {
  display: inline;
  vertical-align: super;
  font-size: 2.5rem;
  margin-left: 7px;
  color: #212529;
}
